<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.android.posologia">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Para permitir à API verificar a conexão antes de tentar baixar os mapas -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Para permitir à API guardar cache de mapas no armazenamento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permite à API usar o wifi ou 3G ou ambos para determinar a localização -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Permite à API utilizar o GPS para determinar a localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- Indica a utilização da versão 2 do OpenGL para renderização dos mapas -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".util.BroadcastReceiverAlarme">
            <intent-filter>
                <action android:name="ALARME_DISPARADO" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".view.PosologiaNewActivity"
            android:label="@string/app_title_posologia_new">

        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_title_pessoa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CadastroActivity"
            android:label="@string/app_title_pessoa_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MedicamentoNewActivity"
            android:label="@string/app_title_medicamento_new" />

        <activity android:name=".view.MapsActivity"
                   android:label="@string/app_title_mapas"  />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDrToPy9jS3fOZL0wIqotFqk0pb4k3jE3k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>